<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/cv">CV</a></li>
                        <li><a href="/blog">Blog</a></li>
        		<li><a href="/gallery">Gallery</a></li>
    		</ul>
		</nav>
		
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
	
		<footer>
    		<ul>
        		<li><a href="mailto:ycui53@wisc.edu"><img border="0" src="/outlook_logo.png" width = "20px" height = "20px"></a></li>
        		<li><a href="https://github.com/Yumian-Cui"><img border="0" src="/github_logo.png" width = "20px" height = "20px"></a></li>
			<li><a href="https://www.linkedin.com/in/yumian-cui"><img border="0" src="/LinkedIn_logo.png" width = "20px" height = "20px"></a></li>
		</ul>
		</footer>
	</body>
</html>
